

body{
	background: url('../images/bg.jpg');
}
.container{
	width: 90%;
	margin:0 auto;
}

nav{
	width: 100%;
}

table{
	margin: 20px auto;
	border: 1px solid black;
	background: url('../images/bg01.jpg');
}
td{
	width: 80%;
	font-weight: bold;
	padding: 5px 10px;
}
td:last-of-type{
	width: 70px;
}


#home-button,#add-button,#list-button{
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	padding: 20px 0;
	float:left;
	width: 50%;
	background: url('../images/buttons.jpg');
}

#home-button:hover,#add-button:hover,#list-button:hover{
	color: #B7cc8b;
	background: #4D5C6A;
}


#myinput{
	width: 25%;
	padding: 15px;
}

#addtask{
	width: 22%;
	padding: 15px;
	font-weight: bold;
	text-transform: uppercase;
}

#list-button{
	padding: 20px 0;
	width: 100%;
}

#addcontainer, #listcontainer,#added-message,#deleted-message,#empty-message{
	clear:both;
	display: none;
}


#added-message,#deleted-message,#empty-message{
	padding: 10px;
	color: #fff;
}
#added-message{
	background: green;
}

#deleted-message,#empty-message{
	background: red;
}

@media screen and (max-width: 530px){
	
	#addtask{
		font-size: 10px;
		padding: 5px;
	}
	
	#myinput{
		font-size: 10px;
		padding: 5px;
	}
}
}